<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      
     <a href="http://localhost:3000/" class="title">Musicapp</a>
      
     <nav class="global-nav">
       <ul class="global-nav__list">
         <li class="global-nav__item"><%= link_to "新規登録（奏者）", new_user_registration_path %></li>
         <li class="global-nav__item"><%= link_to "新規登録（楽団）", new_society_registration_path %></li>
         <li class="global-nav__item"><%= link_to "ログイン（奏者）", user_session_path %></li></li>
         <li class="global-nav__item"><%= link_to "ログイン（楽団）", society_session_path %></li>
       </ul>
     </nav>
     <div class="hamburger" id="js-hamburger">
       <span class="hamburger__line hamburger__line--1"></span>
       <span class="hamburger__line hamburger__line--2"></span>
       <span class="hamburger__line hamburger__line--3"></span>
     </div>
     <div class="black-bg" id="js-black-bg"></div>

     <script>
       function toggleNav() {
       var body = document.body;
       var hamburger = document.getElementById('js-hamburger');
       var blackBg = document.getElementById('js-black-bg');
  
       hamburger.addEventListener('click', function() {
       body.classList.toggle('nav-open');
       });
       blackBg.addEventListener('click', function() {
       body.classList.remove('nav-open');
       });
       }toggleNav();
     </script>

     
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
