<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
     <a href="others_toppage_path" class="title">Musicapp</a>
      
    </header>
    
    <ul class="col4">
	    <li><%= link_to "新規登録（奏者）", new_user_registration_path %></li>
	    <li><%= link_to "新規登録（楽団）", new_society_registration_path %></li>
	    <li><%= link_to "ログイン（奏者）", user_session_path %></li>
	    <li><%= link_to "ログイン（楽団）", society_session_path %></li>
    </ul>

    
    <main>
      <%= yield %>
    </main>
  </body>
</html>
